@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.abril-fatface-regular {
font-family: 'DM Serif Display', serif;
  font-weight: 300;
  font-style: normal;
}
